/* Webbutveckling II, Övningar 1
 * 2023-02-16
 * Linn Eriksson
 */

body {
    background-color: #808080;
}

table, th, td {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}